Source: zsnes
Section: otherosfs
Priority: optional
Homepage: http://www.zsnes.com
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Etienne Millon <me@emillon.org>,
           Fabian Greffrath <fabian+debian@greffrath.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libgl1-mesa-dev | libgl-dev,
               libncurses5-dev | libncurses-dev,
               libpng-dev,
               libsdl1.2-dev,
               nasm,
               sharutils,
               zlib1g-dev
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/pkg-games/zsnes.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-games/zsnes.git

Package: zsnes
Architecture: any-i386
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Emulator of the Super Nintendo Entertainment System
 ZSNES allows you to play classic games written for the Super Nintendo (SNES)
 game console on a GNU/Linux system.
 .
 Please note that many separately-available games playable under this
 emulator are non-free. See /usr/share/doc/zsnes/README.Debian for more
 information.

Package: zsnes-dbg
Priority: extra
Section: debug
Architecture: any-i386
Depends: zsnes (= ${binary:Version}), ${misc:Depends}
Description: Emulator of the Super Nintendo Entertainment System - debugging symbols
 ZSNES allows you to play classic games written for the Super Nintendo (SNES)
 game console on a GNU/Linux system.
 .
 Please note that many separately-available games playable under this
 emulator are non-free. See /usr/share/doc/zsnes/README.Debian for more
 information.
 .
 This package contains the debugging symbols.
