Source: zsnes
Section: otherosfs
Priority: optional
Homepage: http://www.zsnes.com
Maintainer: Etienne Millon <etienne.millon@gmail.com>
Build-Depends: debhelper (>= 8), nasm, libsdl1.2-dev (>= 1.2.2-3.1), zlib1g-dev, sharutils, libpng12-dev | libpng-dev, libao-dev, autotools-dev
Standards-Version: 3.9.1

Package: zsnes
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Emulator of the Super Nintendo Entertainment System (TM)
 ZSNES allows you to play classic games written for the "SNES" game
 console on a GNU/Linux system. It supports advanced features such as
 multiplayer gameplay over a TCP/IP network.
 .
 Please note that many separately-available games playable under this
 emulator are non-free. See /usr/share/doc/zsnes/README.Debian for more
 information.
