#!/usr/bin/make -f
# debian/rules for zsnes
# 2001-2005 Aaron Lehmann <aaronl@vitelus.com>
# 2006 Joshua Kwan <joshk@triplehelix.org>
# 2010 Etienne Millon <etienne.millon@gmail.com>
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

%:
	dh $@ --sourcedirectory=src

override_dh_auto_configure:
	cp /usr/share/misc/config.guess src/
	cp /usr/share/misc/config.sub src/
	dh_auto_configure --sourcedirectory=src -- --enable-opengl --disable-cpucheck --enable-release --enable-libao force_arch=i486

override_dh_clean:
	rm -f $$(find src/ -type f -name *.o) src/Makefile src/cfg.h src/config.h src/config.log src/config.status src/input.h src/makefile.dep src/md.h src/parsegen src/tools/depbuild src/zsnes
	dh_clean

override_dh_auto_clean:
	rm -f src/config.guess
	rm -f src/config.sub
	dh_auto_clean

override_dh_installexamples:
	mkdir -p debian/zsnes/usr/share/doc/zsnes/examples/source
	uudecode -o debian/zsnes/usr/share/doc/zsnes/examples/debian.smc.gz \
		debian/examples/debian.smc.gz.uu
	uudecode -o debian/zsnes/usr/share/doc/zsnes/examples/source/deb.set \
		debian/examples/source/deb.set.uu
	uudecode -o debian/zsnes/usr/share/doc/zsnes/examples/source/deb.map \
		debian/examples/source/deb.map.uu
	uudecode -o debian/zsnes/usr/share/doc/zsnes/examples/source/col.map \
		debian/examples/source/deb.col.uu
	cp -f debian/examples/source/debian.asm \
		debian/zsnes/usr/share/doc/zsnes/examples/source/
	cp -f debian/examples/README \
		debian/zsnes/usr/share/doc/zsnes/examples/

override_dh_installdocs:
	dh_installdocs
	# Install HTML documentation
	install -d debian/zsnes/usr/share/doc/zsnes
	cp -a docs/readme.htm debian/zsnes/usr/share/doc/zsnes/html

override_dh_compress:
	dh_compress -Xdeb.set
