[Desktop Entry]
Name=ZSNES
Comment=Super Nintendo Entertainment System (TM) emulator
Exec=zsnes %f
Icon=zsnes
Terminal=false
Type=Application
Categories=Game;Emulator;
MimeType=application/x-snes-rom;
